/*.la
/*.lo
/.deps
/.libs
/Makefile
/Makefile.in
/test-change-processor-rect*
/test-color-op*
/test-gegl-buffer-gpu-scale-normal*
/test-gegl-gpu-texture-clear*
/test-gegl-gpu-texture-clear-subrect*
/test-gegl-gpu-texture-copy*
/test-gegl-gpu-texture-copy-subrect*
/test-gegl-gpu-texture-dup*
/test-gegl-gpu-texture-set*
/test-gegl-gpu-texture-set-subrect*
/test-gegl-rectangle*
/test-gegl-tile-cow*
/test-gegl-tile-cow-consistency*
/test-gegl-tile-lock-mode-gpu-write-then-gpu-read*
/test-gegl-tile-lock-mode-gpu-write-then-read*
/test-gegl-tile-lock-mode-write-then-gpu-read*
/test-gegl-tile-lock-mode-write-then-read*
/test-proxynop-processing*
